body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

div.menu {
    display: grid;
    gap: 10px;

    /* MOBILE (padrão) */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "u1 b1 t1"
        "u2 b2 t2"
        "u3 b3 t3";
}

div.menu * {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Mapeamento dos elementos */
#displayCookies { grid-area: t1; }
#cookie { grid-area: b1; }

#displayUpgradeCost { grid-area: t2; }
#upgradeClicker { grid-area: b2; }

#displayAutoClickerCost { grid-area: t3; }
#getAutoClicker { grid-area: b3; }

/* DESKTOP */
@media (min-width: 768px) {
    div.menu {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "u1 u2 u3"
            "b1 b2 b3"
            "t1 t2 t3";
    }
}

button:disabled {
    scale: .8;
}

button:enabled:hover {
    scale: 1.05;
}
button:disabled:hover {
    scale: .75;
}

button {
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
